.AxisCell {
  text-align: center;
  background-color: rgba(239, 239, 239, 0.69);
  padding: 3px;
  border: 1px solid #888;
  min-width: 50px;
  font-weight: 300;
}

.AxisCell:hover {
  background-color: green;
}
