@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgb(233, 223, 190);
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
  text-decoration: underline;
}

.tech {
  max-width: 100px;
  height: auto;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 5vh;
  margin-bottom: 0;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.logos-container img {
  margin: 0 3vh;
}

.img-me {
  height: 250px;
  border-radius: 5vh;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-challenge {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-personal-social {
  display: flex;
  flex-direction: column;
}

.info-personal-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-media {
  height: 40px;
  margin: 3vh;
}

.effectus {
  height: 100px;
  width: 100px;
  align-self: center;
}

.social-media:hover {
  animation: rainbow 1s ease-in-out infinite;
}

@keyframes rainbow {
  0% {
    fill: rgb(0, 0, 0);
  }
  50% {
    fill: rgb(193, 79, 79);
  }
  100% {
    fill: rgb(0, 0, 0);
  }
}
